################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/VibesAndDesigns/FileContentIndex/775d4a1e-0ffd-4395-b7ed-54e0bc21f946.vsidx
/.vs/VibesAndDesigns/FileContentIndex
/.vs/VibesAndDesigns/config
/.vs
/.firebase
/firebase-tools-instant-win.exe
